* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(./image/pexels-karola-g2-5968.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  padding: 30px;
}
.todo-app {
  width: 100%;
  max-width: 500px;
  /* max-height: 100vh; */
  height: fit-content;
  /* margin: 150px; */
  /* margin-bottom: 20px; */
  padding: 40px;
  padding-left: auto;
  padding-left: 30px;
  padding-bottom: 70px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-family: sans-serif;
  color: bisque;
}
.todo-input {
  flex-grow: 1;
  padding: 14px;
  padding-right: 16px;
  font-size: 16px;
  border: 2px solid bisque;
  font-family: sans-serif;
  border-radius: 20px;
  outline: none;
}
.todo-input:focus {
  border-color: #41a345;
  box-shadow: 0 0 5px rgba(42, 212, 47, 0.5);
}
.task-content {
  margin-top: 40px;
  display: flex;
  list-style: none;
}
.task-content ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.action-buttons {
  display: flex;
  align-items: stretch;
}
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #2ad42f;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease;
  transform-origin: center;
  will-change: transform;
}

.add-btn svg {
  display: block;
  width: 100%;
  height: 24px;
}
.add-btn:hover {
  background-color: #1acc1d;
  transform: scale(1.1);
  /* transform: translateY(-2px); */
}

.add-btn:active {
  background-color: #1e8c1f;
  transform: scale(0.9);
}

.voice-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: bisque;
  border: 1px solid rgba(221, 152, 25, 0.9);
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color,
    transform 0.2s ease;
  will-change: transform;
}

.voice-btn:hover {
  transform: scale(1.1);
}

.voice-btn:active {
  background-color: rgba(221, 152, 25, 0.9);
  box-shadow: 5px rgba(221, 152, 25, 0.5);
  transform: scale(0.9);
}

.voice-btn svg {
  width: 20px;
  height: 20px;
}

/* Add tasks section */

.task-list {
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 10px;
}

.task-list::-webkit-scrollbar {
  width: 4px;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.tasks {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
}

.task-list li {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 6px;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
  transition: transform 0.2s ease;
}

.task-list li:hover {
  transform: translateY(-2px);
}
.task-list li .task-checkbox {
  min-width: 22px;
  height: 22px;
  border: 2px solid bisque;
  background-color: transparent;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.task-list li .task-checkbox:checked {
  background-color: bisque;
  border-color: bisque;
  transform: scale(1.2);
}

.task-list li .task-checkbox:checked::before {
  content: "✔";
  color: rgb(163, 158, 158);
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-list li .task-text {
  word-break: break-word;
}

.task-buttons {
  display: flex;
  gap: 5px;
}

.delete-btn,
.edit-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  color: bisque;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease;
}

.edit-btn {
  background-color: #2ad42f;
  color: white;
}
.edit-btn:hover {
  transform: scale(1.1);
}

.delete-btn {
  border: 2px solid rgba(255, 0, 0, 0.9);
  background-color: #f44336;
  color: white;
}

.delete-btn:hover {
  transform: scale(1.1);
  transform: translateY(-2px);
}

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 8px;
  height: 8px;
  background: red;
  opacity: 0.8;
  animation: fall 1s linear forwards;
}

@keyframes leftToCenter {
  to {
    transform: translate(50vw, 50vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes rightToCenter {
  to {
    transform: translate(-50vw, 50vh) rotate(-360deg);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .todo-app {
    margin: 0;
    padding: 20px;
  }
  .task-content {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .heading {
    font-size: 40px;
  }
}
